.map{
    margin-top: 3%;
    margin-left: 20%;
}
iframe{
    width: 550px;
}
.search{
    margin-left: 10%;
    margin-top: 3%;
    border-radius: 8px;
    background-color: rgb(59, 131, 255);
    width: 70%;
    height: 30px;
    border-style: none;
}
.button-unit{
    border-radius: 10px;
    color: white;
    background-color: blue;
    width: 10%;
}